        {% extends "layout.html.twig" %}

        {% block content %}
        <div class="cover-container">
        <div class="inner cover">
          <h1 class="cover-heading">La solution pour ton probleme d'education est la.</h1>
          <p class="lead">Plus de soucis, tout est à la porté de ta main maintenant</p>
          <p class="lead">
            <a href="#" class="btn btn-lg btn-default">Découvrir</a>
          </p>
        </div>
        </div>
        {% endblock %}

        {% block stylesheets %}
        	{{ parent() }}
            <link href="{{ asset('/css/cover.css') }}" rel="stylesheet">
        {% endblock %}
