<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ asset('/lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('/css/styles.css') }}" rel="stylesheet">
    <title>Yekola - (ton education a porte de tes mains) pour que toutes les filles africaines ne puissent plus jamais manquer des ressources pedagogique</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-target">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="">Yekola</a>
                </div>
                <div>Bibliotheque</div>
                <div class="collapse navbar-collapse" id="navbar-collapse-target">Bibliotheque
                </div>
            </div><!-- /.container -->
        </nav>
        <section>
            <h2>La solution pour ton probleme d'education est la</h2>
            <p>Plus de soucis, tout est a la porte de ta main maintenant</p>

            <button>DECOUVRIR</button>
        </section>
        <footer class="footer">
            <div id="footer_logo">Yekola<div>
            <div id="terms">
               <ul>
                  <li>Contact</li>
                  <li>CGU</li>
               </ul>
            </div>
            <div id="about">
               <ul>
                  <li>A propos</li>
                  <li>Bibliotheque</li>
               </ul>
            </div>
        </footer>
    </div>
</body>
</html>
