
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ asset('/lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    {% block stylesheets %}
    <link href="{{ asset('/css/styles.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    {% endblock %}
    <title>{% block title "Yekola - ton éducation à porté de tes mains!" %}</title>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-target">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/Yekola/web">Yekola</a>

                </div>
                <div class="container">
                <ul class="nav navbar-nav">
                    <li> <a href ="books"> Bibliothèque </a> </li>
                    <li> <a href ="schooling"> Scolarité</a> </li>
                    <li> <a href ="sos"> SOS </a> </li>
                    <li> <a href ="success_story"> Succès </a> </li>
                    <li> <a href ="forum"> Forum </a> </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Inscription</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Connexion</a></li>
               </ul>
                <div class="collapse navbar-collapse" id="navbar-collapse-target">
                </div>
              </div>
            </div><!-- /.container -->
        </nav>
      </div><!-- /.container-fluid -->

      <div class="container">
        {% block content "" %}

        <footer class="navbar navbar-bottom">
            <div id="footer_logo">Yekola</div>
            <div id="terms">
               <ul>
                  <li>Contact</li>
                  <li>CGU</li>
               </ul>
            </div>
            <div id="about">
               <ul>
                  <li>Bibliothèque</li>
                  <li>A propos</li>
               </ul>
            </div>
        </footer>
    </div>
    {% block javascripts %}
    <script src="js/jquery.js"></script>
    <script src="{{ asset('/lib/jquery/jquery.min.js') }}"></script>
   <script src="{{ asset('/lib/bootstrap/js/bootstrap.js') }}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    {% endblock %}
</body>
</html>
