body {

  padding-top: 40px;

}
.book-item-box {
    margin-bottom: 20px;
    position: relative;
    border: 1px solid #bebebe;
    border-bottom-width: 3px;
    display: block;
    text-decoration: none;
    *min-height: 128px;
    max-width: 220px;
    box-sizing: border-box;
    background: #fff;
}

.illustration {
  box-sizing: border-box;
  background: linear-gradient(45deg,#fff 0,#fff 13%,#ececec 100%);
  overflow: hidden;
  width: 100%;
  height: 155px;
  margin-bottom: 10px;
  text-align: center;
  visibility: visible;
}

.hidden {display: none; !important;}

.bookListItem__image {
    border: none;
    margin-top: 5px;
    max-height: 144px;
  }
.bookItem_title {
  text-transform: uppercase;
  color: #e95325;
  font-weight: lighter;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.3em;
}

.libraryItem_detail {
  box-sizing: border-box;
  clear: both;
  color: #565656;
}

.libraryItem_description {
  z-index: 5;
}

.libraryItem_descriptionTitle {
  text-transform: uppercase;
  color: #e95325;
  font-weight: lighter;
  margin-bottom: 20px;
}

.bookListItem_authors {
  min-height: 40px;
  display: block;
}

.bookListItem_authors li {
  list-style: none;
}

.bookListItem_authors_editor, .bookListItem_authors_author {
  height: 20px;
  overflow: hidden;
  font-weight: lighter;
}


img {
    margin-top: 5px;
    max-height: 144px;
    text-align: center;
    visibility: visible;
}

nav ul>li {
  list-style: none;
  color: red;
}
#region-quiz{color: red;}
